.radioButtonsContainer,
.dueDateContainer,
#mt-2 {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 1%;
}

#saveButton {
    width: 90%;
    margin-left: 5%;
}

#backtoListBTN {
    margin: 5%;
}

.example-full-width {
    margin-right: 5%;
    background-color: white;
    color: black;
}

#taskname,
#taskdescription,
#taskDueDate,
#taskDueDateName {
    width: 90%;
    margin: 0 auto;
}

#edittasktitle {
    font-size: xx-large;
}

@media (max-width: 1000px) {
    .radioOptions {
        width: 90%;
        margin: 0 auto;
        align-items: center;
    }
    .dueDateContainer {
        margin-left: 23%;
    }
}
