.SaveButton {
    width: 98%;
    background-color: #303030;
    margin-left: 1%;
    margin-right: 1%;
}

.backToListButton {
    margin-top: 15px;
    background-color: #303030;
    margin-left: 1%;
}

.form-control {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

@media (max-width: 1000px) {
    .SaveButton {
        width: 100%;
    }
}
