table {
    position: center;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
}

td {
    padding: 5px;
    background-color: white;
}

.td-status {
    background-color: white;
}

.containerStatus {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    table {
        width: 100%;
        background-color: white;
    }
    td {
        font-size: xx-small;
        padding-right: 2%;
        // word-break: break-all;
    }
}

.deleteIcon {
    color: red;
}
