@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";
html,
body {
    height: 100%;
    background: radial-gradient( ellipse at left bottom, rgb(74, 74, 110) 0%, rgba(50, 79, 177, 0.9) 59%, rgba(69, 111, 197, 0.9) 100%);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
