<!-- <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
                <th scope="col">Start Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary" *ngFor="let item of tasklist$ | async">
                <th scope="row">{{item.taskName}}</th>
                <td>{{item.taskDescription}}</td>
                <td>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="bold" (click)="setfalse()">{{item.taskStatus}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
                <td>{{item.taskStartDate}}</td>
                <td class="bnt-group" role="group">
                    <button type="button" class="btn btn-info m-1" (click)="onGoToSee(item)">Details</button>
                    <button type="button" class="btn btn-success m-1" (click)="onGoToEdit(item)">Edit</button>
                    <button type="button" class="btn btn-danger m-1" (click)="onGoToDelete(item.id)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table> -->







<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold" (click)="editStatus(element)" style="background-color:beige">{{element.taskStatus}}</mat-button-toggle>
            </mat-button-toggle-group>

        </td>

    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="taskStartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.taskStartDate}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="taskDueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let element"> {{element.taskDueDate}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions" class="td-status">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon type="button" (click)="onGoToSee(element)" class="infoIcon">info</mat-icon>
            <mat-icon type="button" (click)="onGoToEdit(element) ">edit</mat-icon>
            <mat-icon type="button" (click)="onGoToDelete(element.id) " class="deleteIcon">delete</mat-icon>


        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
</table>

<div class="containerStatus">

    <mat-radio-group aria-label="Select an option " name="taskStatus " *ngIf="show " [value]="this.taskSvc.selected.taskStatus ">
        <mat-radio-button value="Pending" (change)="changeStatus($event,this.taskSvc.selected) ">Pending</mat-radio-button>&nbsp;
        <mat-radio-button value="In Process" (change)="changeStatus($event,this.taskSvc.selected) ">In Process</mat-radio-button>&nbsp;
        <mat-radio-button value="Finished" (change)="changeStatus($event,this.taskSvc.selected) ">Finished</mat-radio-button>
    </mat-radio-group>

</div>
