table {
    position: center;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
}

td {
    padding: 5px;
    background-color: white;
    word-break: break-all;
}

.td-status {
    background-color: white;
}

.containerStatus {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    table {
        width: 100%;
        background-color: white;
    }
    td {
        font-size: smaller;
        // word-break: break-all;
    }
}

.rojo {
    background-color: rgb(219, 110, 110);
}

.mat-button-toggle-standalone,
.mat-button-toggle-group {
    background-color: white;
}

.infoIcon {
    color: rgb(57, 57, 194);
}

.deleteIcon {
    color: red;
}
